<main>
  <div class="container">
    <div class="content-wrapper">
      <h3>Sign In</h3>
      <form class="form-add-post">
        <div class="input-box">
          <label class="mat-label">E-Mail</label>
          <div class="mat-form-field">
            <input matInput type="text" placeholder="E-Mail" required>
          </div>
        </div>
        <div class="input-box">
          <label class="mat-label">Password</label>
          <div class="mat-form-field">
            <input matInput type="text" placeholder="Password" required>
          </div>
        </div>
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign in</button>
      </form>
      <!--<p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>-->
    </div>
  </div>
</main>
