*{
  box-sizing: border-box;
  font-family: var(--font-primary);
}
main {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: var(--primary-green-1);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.container header{
  font-size: var(--heading-4);
  text-align: center;
}

.form .label{
  font-family: var(--font-primary);
  font-size: var(--small-text-regular-size);
}
.form .column {
  display: flex;
  column-gap: 15px;
}


.form .input-box{
  width:100%;
  margin-top:20px;
}
.form .input-box input{
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px;
  border-radius: 6px;
  padding: 0 15px;

}
.form .input-box-text{
  width:100%;
  margin-top:20px;
}
.form .input-box-text textarea{
  position: relative;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px;
  border-radius: 6px;
  padding:15px;



  resize: none;

}
textarea:is(:focus,:valid){
}

textarea::-webkit-scrollbar{
  width: 0px;
}


