<main>
  <div class="container">
    <header>Venta de dispositivo</header>
    <div class =formulariog>
      <div class="space1">
        <form [formGroup]="miFormulario" (ngSubmit)="addProduct()" class="form">

          <div class="column">
            <div class = "input-box">
              <label>Nombre del dispositivo</label>
              <input matInput type="text" placeholder="Nombre del dispositivo" formControlName="productName" required>
            </div>

            <div class = "input-box">
              <label>Precio</label>
              <input matInput type="text" placeholder="Precio" formControlName="productPrice" required>
            </div>
          </div>

          <div class="column">

            <div class = "input-box">
              <label>Category</label>
              <input matInput type="text" placeholder="Category" formControlName="productCategory" required>
            </div>

            <div class="input-box">
              <label>Imagen</label>
              <input matInput type="text" placeholder="URL" formControlName="productImage" required>
            </div>

          </div>

          <div class="column">
            <div class = "input-box-text">
              <label>Descripcion</label>
              <textarea id="descripcion" placeholder="Escribe la descripcion del producto" formControlName="productDescription" (input)="autoResize($event)" required></textarea>
            </div>
          </div>
          <button type="submit" mat-raised-button color="primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</main>


