.header {


  background-color: var(--primary-green-1);
  font-family: var(--font-primary);
  font-size: 16px;
  position:sticky;
  height:7.5vh;
  top:0;
  padding-right:420px;
  padding-left:420px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
p {
  font-size: 56px;
  color: black;
}

