<main>
  <div class="container">
    <div class="content-wrapper">
      <h3>Register</h3>
      <form [formGroup]="newUser" (ngSubmit)="addUser()" class="form-add-post">
        <div class="column">
          <div class="input-box">
            <label class="mat-label">Full Name</label>
            <div class="mat-form-field">
              <input matInput type="text" placeholder="Full Name" formControlName="name" required>
            </div>
          </div>
          <div class="input-box">
            <label class="mat-label">E-Mail</label>
            <div class="mat-form-field">
              <input matInput type="text" placeholder="E-Mail" formControlName="email" required>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label class="mat-label">Password</label>
            <div class="mat-form-field">
              <input matInput type="text" placeholder="Password" formControlName="password" required>
            </div>
          </div>
          <div class="input-box">
            <label class="mat-label">Confirm Password</label>
            <div class="mat-form-field">
              <input matInput type="text" placeholder="Confirm Password" required>
            </div>
          </div>
        </div>
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign up</button>
      </form>
      <!--<p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>-->
    </div>
  </div>
</main>
